<h2>User info</h2>

<%= form_for(@user) do |f| %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<!-- エラーメッセージ表示-->

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name, class: "name" %>
</div>

<div class="field">
	<%= f.label :image %>
	<%= f.attachment_field :profile_image, class: "user_image" %>
</div>

<div class="field">
	<%= f.label :introduction %>
	<%= f.text_area :introduction, class: "introduction" %>
</div>

<!-- 住所 -->
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, autofocus: true,　placeholder:'郵便番号を半角で入力',  class: "postcode" %>
  </div>

  <div class="field">
    <%= f.label :prefecture_code %><br />
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県', class: "prefecture_code" %>
  </div>

  <div class="field">
    <%= f.label :address_city %><br />
    <%= f.text_field :address_city, autofocus: true,　placeholder: '市町名を入力', class: "address_city" %>
  </div>

  <div class="field">
    <%= f.label :address_street %><br />
    <%= f.text_field :address_street, autofocus: true,　placeholder: '町名・番地', class: "address_street" %>
  </div>

  <div class="field">
    <%= f.label :address_building %><br />
    <%= f.text_field :address_building, autofocus: true,　placeholder: '建物、部屋番号を入力', class: "address_building" %>
  </div>


<div class="actions">
	<%= f.submit %>
</div>


<% end %>


<!-- 39 codeの前はname -->